<!DOCTYPE html>
<html>
  <head>
    <meta charset="ÜTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Time App</title>
  </head>
  <body>
    <div class="container">
      <div class="left-side">
        left-side : statistics
      </div>

      <div class="chat">
        <div class="chat-header">Current work : WEB | 1:25:16</div>
        <div class="chat-body" id="chat-body"> </div>
        <div class="chat-foot">
          <input type="text" id="chat-input" class="chat-input" placeholder="Send a message">
          <button type="submit" class="chat-submit" id="chat-submit">📤</button>
        </div>
      </div>


      <div class="right-side">
        right-side : classes ordered by an option <br>like number of hours descend or ascend
      </div>
    </div>
    <script>
      Img_bot_src = "{{ url_for('static', filename='imgs/bot-icon.png') }}"
      Img_user_src = "{{ url_for('static', filename='imgs/user-icon.png') }}"
    </script>
    <script src="{{ url_for('static', filename='plugins/jquery_3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>